<div class="dashboard-container">
    <div class="d-container" >
        <mat-toolbar color="accent">
            <div fxLayout.xs="column">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="d-menu">menu</mat-icon>
                </button>
            </div>
            <span>Admin App</span>
            <span class="example-spacer"></span>
            <mat-icon style="margin: 18px;"  (click)="refresh()">autorenew</mat-icon>
            <mat-icon   (click)="logout()">exit_to_app</mat-icon>
        </mat-toolbar>
        <mat-sidenav-container class="d-sidenav-container">
            <mat-sidenav #sidenav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
                <mat-nav-list class="navlist">
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button" routerLink="/dashboard/employee">
                            <mat-icon id="sidenav-icon">people</mat-icon>
                            Employee
                        </button>
                    </div>
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button" routerLink="/dashboard/department">
                            <mat-icon id="sidenav-icon">domain</mat-icon>
                            Department
                        </button>
                    </div>
                    <div class="sidenav-font" routerLink="/dashboard/role">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">school</mat-icon>
                            Role
                        </button>
                    </div>
                </mat-nav-list>

            </mat-sidenav>

            <mat-sidenav-content style="width: 85%;">
                <router-outlet></router-outlet>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</div>

