<div>
    <section>
        <div class="l-img">
            <img src="../../../assets/bk1.jpg">
        </div>
        <div class="l-content">
            <form [formGroup]="loginForm" class="l-form">
                <h2>Login</h2>
                <div class="l-input">
                    <mat-label>E-mail</mat-label>
                    <input type="text" formControlName="email" placeholder="E-mail">
                </div>

                <div class="l-input">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" placeholder="Password">
                </div>

                <div class="l-input" fxLayout="row" fxLayoutAlign="space-between center">
                    <button class="l-sub" (click)="login()">Submit</button>
                </div>

            </form>
        </div>
    </section>
</div>