<h1 mat-dialog-title>Add Employee From</h1>
<div mat-dialog-content>
  <form>
      <mat-label>Employee Name</mat-label>
      <input name="name" [(ngModel)]="form.name" matInput placeholder="Enter the employee name">
    <br>
      <mat-label>Email</mat-label><br>
      <input name="email" [(ngModel)]="form.email"placeholder="Enter the employee Email">
    <br>
      <mat-label>Password</mat-label>
      <input type="password"name="password" [(ngModel)]="form.password"matInput placeholder="Password">
    <br>
    <mat-label>Mobile No</mat-label>
      <input name="mobile" [(ngModel)]="form.mobile" matInput placeholder="Enter the employee mobile no.">
    <br>
    <mat-label>Address</mat-label>
      <input name="address" [(ngModel)]="form.address" matInput placeholder="Enter the employee address">
    <br>
      <mat-label>Department</mat-label>
      <mat-select name="department" [(ngModel)]="form.department" matInput placeholder="Enter the department">
        <mat-option value="Account">Account</mat-option>
        <mat-option value="PE">PE</mat-option>
        <mat-option value="Engineer">Engineer</mat-option>
        <mat-option value="Testing">Testing</mat-option>
      </mat-select>
    
    <mat-label for="">
      <h3>Choose the Role</h3>
    </mat-label>
    <mat-radio-group name="role" class="example-radio-group" [(ngModel)]="form.role">
      <mat-radio-button class="example-radio-button" *ngFor="let role of roleList" [value]="role">
        {{role}}
      </mat-radio-button>
    </mat-radio-group>
   <div>
      <span>Image:</span>
      <span><input type="file" name="image" (change)="fileChoose($event)"></span>
      <span *ngIf="choosen"></span>
    </div>

  </form>


</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button ml-3 style="background-color: #03a9f4;" mat-raised-button (click)="addEmployee()">{{actionBtn}}</button>
</div>