<h1 mat-dialog-title>Add Employee From</h1>
<div mat-dialog-content>
    <form [formGroup]="employeeForm">
        <mat-form-field appearance="outline">
            <mat-label>Employee Name</mat-label>
            <input formControlName="name" matInput placeholder="Enter the employee name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter the employee Email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department"matInput placeholder="Enter the department">
              <mat-option value="Account">Account</mat-option>
              <mat-option value="People Experience" >People Experience</mat-option>
              <mat-option value="Software Engineer">Software Engineer</mat-option>
              <mat-option value="Testing">Testing</mat-option>
            </mat-select>
          </mat-form-field>
          <label for=""><h1>Choose the Role</h1></label>
          <mat-radio-group formControlName="role"class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let role of roleList" [value]="role">
                  {{role}}
              </mat-radio-button>
          </mat-radio-group>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button ml-3  style="background-color: #03a9f4;" mat-raised-button (click)="addEmployee()">{{actionBtn}}</button>
</div>
